/**
 * Images
 */
$img_section-fade: url('../../assets/img/bg_content-top.gif');

 /**
 * Colors
 */
$default_text: #222;
$bc_blue: #09C;
$heading_blue: #005172;
$link_blue: #06c;
$link-hover_red: #AA272F;
$std-text-size: 15px;